---
import LevelTopicalsLayout from "../../layouts/LevelTopicalsLayout.astro";
import BackButton from "../../components/BackButton.astro";
import SubjectSearch from "../../components/SubjectSearch";
import { getPaperIndex } from "../../utils/paperIndex";

type Params = { board: string };

const { board } = Astro.params as Params;

let subjects: { name: string }[] = [];

try {
  const index = await getPaperIndex();

  subjects = Object.keys(index?.[board] ?? {})
    .map((s) => (
      {
      name: index[board][s]["name"],
    }
  ))
    .sort((a, b) =>
      a.name.localeCompare(b.name, undefined, { sensitivity: "base" }),
    );
} catch (err) {
  console.error("Failed to fetch subjects:", err);
}

console.log(subjects);

const boardDisplayName =
  board === "a-levels"
    ? "A Levels"
    : board === "kathmandu-university"
      ? "Kathmandu University"
      : board;

export const getStaticPaths = async () => {
  const index = await getPaperIndex();

  return Object.keys(index).map((board) => ({
    params: { board },
  }));
};
---

<LevelTopicalsLayout
  title={`Available subjects for ${boardDisplayName} | Paper Guides`}
  description={`Explore the subjects available for ${boardDisplayName}. Find past papers, notes, and resources to help you prepare for your exams.`}
>
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-semibold">
      Available <span class="text-[var(--blue-highlight)]">Subjects</span> for {
        boardDisplayName
      }
    </h1>
    <BackButton />
  </div>

  <!-- @ts-ignore -->
  <SubjectSearch
    client:load
    subjects={subjects}
    boardSlug={board!}
    basePath={`/subjects/${board}`}
  />
</LevelTopicalsLayout>
