<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/logo.svg" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<div class="navbar">
    <a href="{{ url_for('index')}}">Paper-Guides</a>
    <div class="navlinks">
        <a href="{{ url_for('getLevels') }}">Past Papers</a>
    </div>
    <div class="login" id="login">
    </div>
</div>
<body>

    {% block body %}
    {% endblock %}
    
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
