{% extends 'base.html' %}

{% block title %}
    Boards and Levels
{% endblock %}

{% block section %}
    <h1>Available Boards and Levels For: <span class="blue-highlight">{{mode}}</span></h1>

    {% for board, boardData in config.items() %}
        <div class="board-section">
            <!-- Board Title -->
            <h1>{{ board }}</h1>

            {% if board == "A Levels" %}
                <div class="level-section">
                    <!-- Level Link -->
                    <a href="/{% if mode | lower == 'topicals'%}topicals{%else%}subjects{%endif%}/A level">
                        CAIE: A Levels
                    </a>
                </div>
            {% else %}
                {% for level in boardData.levels %}
                <div class="level-section">
                    <!-- Level Link -->
                    <a href="/{% if mode | lower == 'topicals'%}topicals{%else%}subjects{%endif%}/{{level}}">
                        {{board}} Grade: {{ level }}
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <a href="/submit">Did not find the required paper? <span class="blue-highlight">Submit-It</span></a>
{% endblock %}
