{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block metaDescription %}
    {{ title }}. Download the {{ title }}. Access free past papers, question papers, and resources for effective exam preparation.
{% endblock %}

{% block metaKeywords %}
    {{ title }}
{% endblock %}

{% block body %}

<head>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"
        defer
    ></script>
    <script
        src="{{ url_for('static', filename='pdf-image-renderer.js') }}"
        defer
    ></script>
</head>

<div class="paper-pdf question-pdf">
    <object type="application/pdf" width="100%" height="600px"></object>

    <button id="fullscreenToogleQuesionAndSolution" style="
        position: fixed;
        bottom: 50px;
        left: 50px;
        width: 60px;
        height: 60px;
        padding: 18px;
        font-size: 18px;
        background: gray;
        color: white;
        border: none;
        border-radius: 50%;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        z-index: 999999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        scale: 1.5;
    ">
        <i id="toggleIcon" class="fas fa-eye"></i>
    </button>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const url = window.location.href;
        const button = document.getElementById('fullscreenToogleQuesionAndSolution');
        const icon = document.getElementById('toggleIcon');

        if (url.includes('question')) {
            button.style.background = 'var(--blue-highlight)';
            icon.className = 'fas fa-eye';
            button.onclick = () => {
                window.open(url.replace('question', 'solution'), '_blank');
            };
        } else if (url.includes('solution')) {
            button.style.background = 'var(--pink-highlight)';
            icon.className = 'fas fa-eye-slash';
            button.onclick = () => {
                window.open(url.replace('solution', 'question'), '_blank');
            };
        }
    });
</script>   

{% endblock %}
