{% extends 'base.html' %} {% block title %} Paper-Guides {% endblock %} {% block
section %}

<div class="qp-container">
    <div class="qp-main-content">
        <div class="section-title" style="display: flex; justify-content: space-between;">
            <h1 class="paper-title" id="{{id}}">{{file_data}}</h1>
            <button onclick="goBack()" style="background: none; border: none; color: #5d71e0; font-size: 1.5rem; cursor: pointer;">← Back</button>
        </div>
        <div class="pdf-container">
            <div class="paper-pdf" data-compressed="{{ question }}">
                <object
                    type="application/pdf"
                    width="100%"
                    height="600px"
                ></object>
            </div>
        </div>
    </div>
</div>

{% endblock %}
