{% extends 'base.html' %}


{% block title %}
    Paper-Guides
{% endblock %}


{% block section %}
<div class="section-title" style="display: flex; justify-content: space-between;">
    <h1>Choose The Question Paper</h1>
    <div style="display: flex; justify-content: space-between;">
        <button onclick="goBack()" style="background: none; border: none; color: #5d71e0; font-size: 1.5rem; cursor: pointer; margin: 10px;">← Back</button>
        <button onclick="getRandomQuestion()" 
        style="background: none; border: none; cursor: pointer; font-size: 1.5rem; display: flex; align-items: center; gap: 0.5rem; margin: 10px;" >
            <span style="font-size: 2rem;">🎲</span>
        </button>

    </div>
</div>
    {% for question in questions_name %}
        <a href="{{year}}/{{question}}" class="question-link">{{question}}</a>
    {% endfor%}
    <a href="/submit">Did not find the required paper? <span class="blue-highlight" cla>Submit-It</span></a>

{% endblock %}