---
import logo from "../assets/images/logo.png";
import { Image } from "astro:assets";
---

<nav class="bg-[var(--sidebar-bg)] fixed top-0 w-full z-50 shadow-sm h-16">
  <div
    class="flex justify-between items-center px-6 py-4 text-2xl font-bold h-full"
  >
    <a
      href="/"
      class="font-bold text-lg hover:text-[var(--muted)] transition-all duration-300 ease-out"
    >
      <span class="flex items-center gap-2">
        <Image
          src={logo}
          alt={"Image of Paper-Guides logo"}
          width={25}
          height={25}
          class={"rounded-md"}
        />
        <span
          >Paper-<span class="text-[var(--blue-highlight)]">Guides</span></span
        >
      </span>
    </a>
    <!-- Desktop links -->
    <div class="gap-4 hidden xl:flex">
      <a
        class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
        href="/pastpapers"
        data-umami-event="Navigation Click"
        data-umami-event-destination="Past Papers"
      >
        Past Papers
      </a>

      <a
        class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
        href="/notes"
        data-umami-event="Navigation Click"
        data-umami-event-destination="Notes"
      >
        Notes
      </a>

      <a
        class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
        href="/generator"
        data-umami-event="Navigation Click"
        data-umami-event-destination="Question Generator"
      >
        Generator
      </a>

      <a
        class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
        href="/questions"
        data-umami-event="Navigation Click"
        data-umami-event-destination="Questions Repository"
      >
        Questions
      </a>
    </div>

    <div class="gap-4 hidden xl:flex items-center">
      <div id="nav-login-slot"></div>

      <a
        href="/about"
        data-umami-event="Navigation Click"
        data-umami-event-destination="About"
        class="text-[var(--pink-highlight)] hover:text-[var(--muted)] transition-all duration-300 ease-out"
      >
        About
      </a>
    </div>

    <!-- Mobile -->
    <div class="xl:hidden relative">
      <input type="checkbox" id="hamburger" class="peer hidden" />
      <label for="hamburger" class="cursor-pointer text-3xl select-none"
        >
      <i class="ph-fill ph-list"></i>
        
        </label
      >

      <div
        class="bg-[var(--sidebar-bg)] absolute right-0 top-16 w-52 shadow-lg border rounded-lg p-4 flex-col gap-3 hidden peer-checked:flex"
      >
        <a
          class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
          href="/pastpapers"
          data-umami-event="Navigation Click"
          data-umami-event-destination="Past Papers"
        >
          Past Papers
        </a>

        <a
          class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
          href="/notes"
          data-umami-event="Navigation Click"
          data-umami-event-destination="Notes"
        >
          Notes
        </a>

        <a
          class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
          href="/generator"
          data-umami-event="Navigation Click"
          data-umami-event-destination="Question Generator"
        >
          Generator
        </a>

        <a
          class="hover:text-[var(--muted)] transition-all duration-300 ease-out"
          href="/questions"
          data-umami-event="Navigation Click"
          data-umami-event-destination="Questions Repository"
        >
          Questions
        </a>
      </div>

      <div class="gap-4 hidden xl:flex items-center">
        <div id="nav-login-slot"></div>

        <a
          href="/about"
          data-umami-event="Navigation Click"
          data-umami-event-destination="About"
          class="text-[var(--pink-highlight)] hover:text-[var(--muted)] transition-all duration-300 ease-out"
        >
          About
        </a>
      </div>
    </div>
  </div>
</nav>

<script>
  import { isLoggedIn, logOut } from "../utils/auth";

  async function renderLoginLink(slotId: string) {
    const slot = document.getElementById(slotId);
    if (!slot) return;

    const loggedIn = await isLoggedIn();

    if (!loggedIn) {
      slot.innerHTML =
        '<a href="/login" data-umami-event="Navigation Click" data-umami-event-destination="Login" class="font-bold hover:text-[var(--muted)] transition-all duration-300 ease-out">Login</a>';
    } else {
      const btn = document.createElement("button");
      btn.textContent = "Log-Out";
      btn.className = "cursor-pointer font-bold";

      btn.addEventListener("click", () => {
        logOut();
        window.location.reload();
      });

      slot.appendChild(btn);
    }
  }

  renderLoginLink("nav-login-slot");
  renderLoginLink("nav-login-slot-mobile");
</script>
