<button
  id="theme-toggle"
  aria-label="theme-toggle"
  class="theme-toggle-btn"
>
  <i class="ph-fill ph-sun light-mode-icon"></i>
  <i class="ph-fill ph-star-and-crescent dark-mode-icon"></i>
</button>

<style>
  .theme-toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .light-mode-icon {
    display: inline;
  }

  .dark-mode-icon {
    display: none;
  }

  :global(.darkmode) .light-mode-icon {
    display: none !important;
  }

  :global(.darkmode) .dark-mode-icon {
    display: inline !important;
  }
</style>

<script is:inline>
  if (localStorage.getItem("darkmode") === "active") {
    document.body.classList.add("darkmode");
  }

  document
    .getElementById("theme-toggle")
    ?.addEventListener("click", function () {
      const isDark = document.body.classList.contains("darkmode");

      if (isDark) {
        document.body.classList.remove("darkmode");
        localStorage.setItem("darkmode", "deactive");
      } else {
        document.body.classList.add("darkmode");
        localStorage.setItem("darkmode", "active");
      }

      try {
        window.umami?.track("Theme Toggled", {
          "New Theme": isDark ? "Light" : "Dark",
          "Previous Theme": isDark ? "Dark" : "Light",
        });
      } catch (_) {}
    });
</script>
